section(data-background-image="images/developer-tired.jpg" )
  p A <span class="react">component</span> is written as a usual JavaScript function. React supports a special syntax called JSX, which looks a lot like HTML, but it is turned into real JavaScript code by a compiler.