section
  h2 State
  section
    pre
        code.
            <div className="computer">
                the computer is {isOn ? 'on' : 'off'}
                <br />
                &lt;button onClick={() &#61;&gt; setOn(!isOn)}&gt;
                    push
                &lt;/button&gt;
            </div>