section
  h2 Props
  section
    pre
        code.javascript.
            function Hi(props) {
                return <div>Hello {props.name}!</div>;
            }
            
            ReactDOM.render(&lt;Hi name="Dave"/&gt;, document.querySelector('#root'));